---
import Card from './components/Card.astro';
import Badge from './components/Badge.astro';

const experiences = [
  {
    title: "Tecnólogo ADSI",
    company: "SENA Regional Guaviare",
    period: "Feb 2021 - Nov 2023",
    description: "Durante mi formación, me destaqué por ser responsable, disciplinado y autodidacta. Mi alto \
                  rendimiento me permitió participar en un proyecto del SENA, brindando soporte a un software de \
                  votaciones en MySQL para garantizar la integridad de los datos. Además, recibí dos \
                  reconocimientos por rendimiento académico.",
    type: "education",
  },
  {
    title: "Desarrollador full stack",
    company: "Algorithm S.A.S",
    period: "Mar 2023 - Enero 2024",
    description: "En Algoritmo del Futuro, he desarrollado habilidades técnicas y blandas participando en proyectos \
                  de automatización. Destaco mi trabajo en una plataforma CRM para gestionar horarios y en un \
                  software de fijación de precios, donde optimicé y amplié funcionalidades. Utilicé C# y .NET Core \
                  (backend), Angular (frontend), SQL Server (BD) y Git/GitHub o Azure Repos (control de \
                  versiones).",
    type: "work"
  },
  {
    title: "Ingeniería en Sistemas",
    company: "CUN - Corporación Unificada Nacional de Educación Superior",
    period: "Feb 2024 - Presente",
    description: "Tuve la oportunidad de homologar mi tecnólogo ADSI del SENA, iniciando mis estudios desde el 8vo \
                  semestre. Actualmente me encuentro en el 10 semestre de ingeniería en sistemas.",
    type: "education"
  },
  {
    title: "Desarrollador full stack",
    company: "Proyecto personal",
    period: "Sep 2024 - Mar 2025",
    description: "Desarrollé un software CRM para la gestión de leads usando Angular y NestJS con Mongoose.\
                  Me encargué del backend, parte del frontend y la integración con servicios en la nube como \
                  Cloudinary para almacenar imágenes y PDF. El sistema permite registrar leads de forma masiva \
                  y administrar usuarios comerciales y sus servicios, facilitando el seguimiento y conversión de prospectos.",
    type: "work"
  },
  {
    title: "Desarrollador full stack",
    company: "Algorithm S.A.S",
    period: "Mar 2025 - Presente",
    description: "Actualmente desarrollo un software de analítica financiera que integra datos desde ERPs como Siesa, \
                  NetSuite y SAP. El sistema procesa archivos Excel y los almacena en SQL Server, usando Angular en el \
                  frontend y .NET Core con EF Core en el backend. También implemento seguridad y optimización para un rendimiento eficiente.",
    type: "work"
  },
];

const companyClassColor = (type: string) => {
  return type === 'work' ? 'text-blue-600 dark:text-blue-400' : 'text-purple-600 dark:text-purple-400';
};

const periodClassColor = (type: string) => {
  return type === 'work' ? 'blue' : 'purple';
};
---

<section id="experience" class="py-16 px-4 bg-white/50 dark:bg-slate-800/50">
  <div class="container mx-auto max-w-4xl">
    <div class="text-center mb-12">
      <h2 class="text-3xl md:text-4xl font-bold text-slate-900 dark:text-white mb-4">Experiencia</h2>
      <p class="text-lg text-slate-600 dark:text-slate-400 mb-2">
        Mi trayectoria profesional y formación académica. 
      </p>
      <div>
        <Badge color="purple" >Formación</Badge> 
        <Badge color="blue">Experiencia</Badge>
      </div>
    </div>
    <div class="space-y-8">
        {experiences.map((exp) => (
                    <Card>
                        <div class="flex flex-col md:flex-row md:justify-between md:items-start mb-4">
                            <div>
                                <h3 class="text-xl font-semibold text-slate-900 dark:text-white">
                                    {exp.title}
                                </h3>
                                <p class={`${companyClassColor(exp.type)} font-medium mb-2`}>
                                    {exp.company}
                                </p>
                            </div>
                            <Badge color={periodClassColor(exp.type)} class="mt-2">
                                {exp.period}
                            </Badge>
                        </div>
                        <p class="text-slate-600 dark:text-slate-400">
                            {exp.description}
                        </p>
                    </Card>
                )
            )
        }
    </div>
  </div>
</section>